:root {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 20px;
}

.mainlayout {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    
}


.headerwrap {
    background-color: black;
 
}





.header {
    background-color: black;
    font-family: monospace;
    color: white;
    text-align: center;
    font-size: 1.1em;
    height: auto;
    display: grid;
  gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.headertext {
    margin: 0;
    padding: 0;
    display: inline;
 
}

.playertext {
    color: white;
    background-color: black;
    font-size: 1.1em;
  
}

.footer {
    background-color: grey;
    display: flex;
    grid-row: 3;
}

.footerlabel {
    margin: auto;
    align-self: center;
    width: max-content;
    
}
.footerlabel::after {
  content: " Ⓒ 2022";

    
}

.buttonmask {
    align-self: center;
    justify-self: center;
    width: auto;
  
    border-radius: 20px;
    font-size: 2em;
}

.playerinput {
 
    background-color: black;
    border: 3px solid red;
    align-self: center;
    justify-self: center;
    width: 60%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: .5fr .1fr 1fr 1fr;
    color: white;
    font-size: 2em;
    text-align: center;
    font-family: monospace;


}

.namebox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.0em;
    font-family: monospace;
}

.enternames 
{
    font-size: .9em;
}

.inputbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-self: center;
    justify-self: left;

}

input[type="text"] {
   align-self: center;
   justify-content: center;
   width: 80%;
   justify-self: center;
   height: 200%;
   font-size: .8em;
   font-family: monospace;
}

.submitcontainer {
    display: grid;
    height: 50%;
    align-self: center;
    width: 50%;
    justify-self: center;
    font-family: monospace;
}

.startgamebutton {
    display: none;
  
    width: 80%;
    height: 80%;
    align-self: center;
    justify-self: center;
}

.startgame {
    font-size: .8em;
    font-family: monospace;
}

.borderred {
    border: 2px dashed red;

}

.redtilt { 

}

.none {
    display: none !important;
}

.resetbutton {
    display: inline;
    width: min-content;
    height: min-content;
    align-self: center;
    justify-self: center;
}

.startbutton {
    align-self: center;
    justify-self: center;
    width: 30%;
    height: 30%;
    font-size: 3em;
}

.footertext {
    text-align: center;
    font-family: monospace;
    display: inline;
}


.gameboard {
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;


  
  

}

.center {
display: grid;
grid-template-columns: 1fr;
justify-items: center;

}

.boardgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    max-width: 50%;
  
    width: 70%;
    justify-self: center;
    align-self: center;

   height: 80%;
}

.cell {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
 
    border: 2px solid black
}


.cell1 {
    border-top: none;
    border-left: none;
    border-right: 2px solid black;
    
}
.cell2 {
    border-top: none;
   
}

.cell3 {
    border-top: none;
    border-right: none;
}

.cell4 {
  
    border-left: none;
}




.cell6 {

    border-right: none;
}


.cell7 {
    border-bottom: none;
    border-left: none;
}

.cell8 {
    border-bottom: none;

}


.cell9 {
    border-bottom: none;
    border-right: none;
}

.selection {

    width: 70%;
    height: 70%;
    align-self: center;
    justify-self: center;

    font-size: 4em;
    font-family: monospace;
    display: flex;
    justify-content: center;

}

.choice {
    align-self: center;
    justify-self: flex-end;
    margin: 0;
    padding: 0;
}


.grey {
    opacity: .5;
    color: grey;
}


@media only screen and (max-width: 600px) {
    .header {
     font-size: 0.5em;
    }

    .boardgrid {

        max-width: 90%;
        max-height: 70%;
       margin-top: 3em;
       width: 80%;
     
    }

    .selection {
 
       max-width: 60%;
     
        max-height: 50%;
        align-self: center;
        justify-self: center;
        
    font-size: 2em;
    }

    .choice {
        font-size: 1.2em;
    }

    .playerinput {
        width: 80%;
        height:  80%;
    }

    .namebox, .inputbox, input[type="text"], .enternames {
 
        font-size: 0.7em;
    }

    
 

    
  }

  @media only screen and (max-width: 900px) {
    .header {
     font-size: 1em;
    }

    .selection {
 
  
     font-size: 3em;
     }

     .footer {font-size: .8em;}
    

     .namebox, .inputbox, input[type="text"], .enternames {
 
        font-size: 0.6em;
    }

    .startbutton {
        width: 50%;
        height: 50%;
        font-size: 2em;
    }
    

    
  }
